body {
	font-family: Montserrat;
	overflow-x: hidden;
	
}


.wrapper {
	background-color: white;
	width: 1366px;
	height: 2600px;
	margin: 0 auto;
	
}

.header {
	width: 1366px;
	height: 670px;
	background-color: #e9e9e9;
	overflow: auto;
	position: relative;
	background: url('img/header background2.jpg') no-repeat;
	background-size: 100% 100%;
}

.logo-and-nav {
	width: 1171px;
	height: 25px;
	margin-top: 38px;
	margin-left: 98px;
	margin-right: 97px;
}

.logo {
	width: 31px;
	height: 25px;
	display: inline-block;
}

.nav {
	
	display: flex;
	justify-content: space-between;
	font-family: Montserrat;
   font-size: 12px;
	line-height: 24px;
   font-weight: 900;
	letter-spacing: 1.2px;
   font-stretch: normal;
   font-style: normal;
	width: 617px;
	height: 25px;
	margin-top: 0;
	float: right;	
}

nav a {
   color: #191919;
	text-decoration: none;
}

nav a:hover {
	color: #10c9c3;
	text-decoration: underline;
}

.about-company {
	height: 142px;
	width: 479px;
	position: absolute;
	left: 763px;
	top: 234px;
	display: flex-inline;
	flex-direction: column;
}

.about-company-head{
	font-family: Montserrat;
   font-size: 38px;
   font-weight: 900;
	margin-top: -7px;	
	height: 38px;
	color: black;
	width: 455px;
	text-align: left;
	letter-spacing: -1px;
	word-spacing: 2px;
	white-space: nowrap;
}

.about-company-content {
	width: 474px;
	height: 72px;
	font-family: Montserrat;
	font-size: 18px;
	line-height: 28px;
	color: #787878;
	letter-spacing: -1px;
	word-spacing: -0.5;
}

.contact-btn {
	background-color: #10c9c3;
	width: 180px;
	height: 54px;
	position: absolute;
	top: 416px;
	left: 768px;
	color: white;
   font-weight: 500;
}

.contact-btn:hover, .form-button:hover {
   background-color: #26d6d0;
} 

.contact-btn:active, .form-button:active {
   background-color: #0fb8b3;
} 

.contact-btn, 
.contact-btn:active, 
.contact-btn:hover {
   border: none;
}

.about-us {
	height: 419px;
	background: linear-gradient(to left , rgb(213, 213, 213), rgb(239, 239, 239));
}

.about-us-container {
	
	margin: 0 auto;
	padding: 100px 0;
	width: 612px;
	height: 219px;
	text-align: center;
}

.about-us-headline {
	font-size: 30px;
	font-weight: 900;
	position: relative;
	top: -28px;
}

.about-us-content {
	font-family: NunitoSans;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	position: relative;
	top: -25px;
	color: black;
}

.about-us-signature {
	position: relative;
	top: -5px;
}

.skills {
	height: 570px;
	background-color: lightgray;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 570px;
	background: url('img/skills background.jpg');
	background-size: 100% 100%;
}



.skills-container {
	width: 500px;
	margin-left: 98px;
	margin-right: 85px;
	height: 242px;
	padding: 164px 0;
}

.skills-headline {
	font-size: 30px;
	font-weight: 900;
	position: relative;
	top: -31px;
}

.skills-ux {
	margin-top: -17px;
}

.skills-ux-headline, .skills-dev-headline, .skills-marketing-headline {
	font-size: 12px;
	white-space: pre;
	position: relative;
	top: -5px;
	left: 3px;
}

.ruler-ux, .ruler-dev, .ruler-marketing {
	height: 4px;
	background: silver;
	width: 100%;
	margin-bottom: 41px;
}

.ruler-ux::before {
	content: "";
   display: block;
   width: 75%;
   height: 100%;
   background: #10c9c3;
}

.ruler-dev::before {
	content: "";
   display: block;
   width: 90%;
   height: 100%;
   background: #10c9c3;
}

.ruler-marketing::before {
	content: "";
   display: block;
   width: 65%;
   height: 100%;
   background: #10c9c3;
}

.numbers {
	height: 238px;
	background-color: #10c9c3;
	border: 1px solid #10c9c3;
}

.numbers-container {
	height: 50px;
	width: 1078px;
	margin-top: 101px;
	margin-left: 102px;
	margin-right: 186px;
	display: grid;
	grid-template-columns: 300px 300px 300px 300px;
	grid-template-rows: 40px;
}

.project-logo, .hours-logo, .feedbacks-logo, .clients-logo {
	width: 40px;
	height: 36px;
}

.project-content, .hours-content, .feedbacks-content , .clients-content {
	font-family: Montserrat;
	font-size: 12px;
	display: inline-block;
   vertical-align: top;
	line-height: 0;
	color: #ffffff;
	margin-left: 20px;
	text-align: left;
}


.project-number, .hours-number, .feedbacks-number, .clients-number{
	font-size: 18px;
	vertical-align: top;
	line-height: 0;
	margin-top: 7px;
	font-weight: 900;
}

.project-word, .hours-word, .feedback-word, .clients-word {
   font-size: 12px;
	padding-top: 10px;
	font-weight: 900;
	letter-spacing: 1px;
}

.works {
	background-color: lightgray;
	height: 700px;
}

.works-grid-container {
	display: grid;
	grid-template-columns: 341px 342px 341px 342px;
	grid-template-rows: 300px 300px;
}

.works-grid-container-active {
	grid-template-rows: 300px 300px 300px;
}

.works-grid-container div:nth-child(1), .works-grid-container div:nth-child(3), .works-grid-container div:nth-child(6),
.works-grid-container div:nth-child(8) {
	background-color: gray;
}
	


.works-grid-container div:nth-child(2), .works-grid-container div:nth-child(4), .works-grid-container div:nth-child(5),
.works-grid-container div:nth-child(7) {
	background-color: #dddddd;
}

.works-item-img-1, .works-item-img-3, .works-item-img-5,  .works-item-img-7,
.works-item-img-9, .works-item-img-10, .works-item-img-11, .works-item-img-12 {
	height: 300px;
	width: 342px;
}

.works-item-img-2, .works-item-img-4, .works-item-img-6,  .works-item-img-8   {
	height: 300px;
	width: 342px;
}

.works-item-img-9, .works-item-img-10, .works-item-img-11, .works-item-img-12 {
	display: none;
}

.mask {
	position: absolute;
	width: 342px;
	height: 300px;
	background-color: #000000;
	opacity: 0;
	-webkit-transition: all .75s;
	-o-transition: all .75s;
	transition: all .75s;
	
}

.mask:hover {
	opacity: 0.8;
}

.mask-eye {
	margin-left: 147px;
	margin-top: 135px;
	opacity: 1;
}

.active {
	display: inline-block;
}

.works-load-btn {
	background-color: #f5f5f5;
	position: absolute;
	height: 100px;
	width: 1366px;
	cursor: pointer;
}

.works-load-btn:hover {
	background-color: #f5f5f55b;
}

.works-active {
	height: 1000px;
}

.load-btn-label {
	font-size: 12px;
	font-weight: 900;
	color: #8e8e8e;
	letter-spacing: 1px;
	display: inline-block;
	position: absolute;
	height: 15px;
	width: 137px;
	top: 46px;
    left: 616px;
}

.process {
	height: 929px;
	position: relative;
	background-color: rgb(255, 255, 255);
}

.process-headline {
	font-size: 30px;
	letter-spacing: 0.3px;
	position: absolute;
	left: 550px;
	top: 60px;
}

.process-content {
	font-family: NunitoSans-Regular;
   font-size: 16px;
	color: #787878;
	letter-spacing: 0.08px;
	word-spacing: 2px;
	position: absolute;
	top: 142px;
	left: 431px;
	width: 500px;
	text-align: center;
	font-weight: 900;
}

.process-video-container {
	height: 571px;
	width: 1170px;
	position: relative;
	top: 258px;
	left: 98px;
}

.process-video {
    height: 571px;
    width: 1170px;
}

.info {
	height: 535px;
	background-color: #f5f5f5;
}

.info-grid-container {
	height: 341px;
	width: 1138px;
	transform: translate(119px, 102px);
	display: grid;
	grid-template-columns: 231px 231px 231px 231px;
	grid-template-rows: 139px 139px;
	column-gap: 70px;
	row-gap: 60px;
}

.info-item-1, .info-item-2, .info-item-3, .info-item-4, .info-item-5, .info-item-6, .info-item-7, .info-item-8{
	text-align: center;
}

.info-item-img-1 {
	height: 39px;
	width: 42px;
	display: inline-block;
}

.info-item-img-2 {
	height: 40px;
	width: 40px;
	display: inline-block;
}

.info-item-img-3 {
	height: 44px;
	width: 26px;
	display: inline-block;
}

.info-item-img-4 {
	height: 42px;
	width: 44px;
	display: inline-block;
}

.info-item-img-5 {
	height: 44px;
	width: 44px;
	display: inline-block;
}

.info-item-img-6 {
	height: 41px;
	width: 44px;
	display: inline-block;
}

.info-item-img-7 {
	height: 39px;
	width: 40px;
	display: inline-block;
}

.info-item-img-8 {
	height: 43px;
	width: 46px;
	display: inline-block;
}

.info-item-h-1, .info-item-h-2, .info-item-h-3, .info-item-h-4, .info-item-h-5, .info-item-h-6, .info-item-h-7, .info-item-h-8 {
   font-size: 14px;
	font-weight: 900;
	font-family: Montserrat;
	transform: translateY(7px);
	text-transform: uppercase;
}


.info-item-cont-1, .info-item-cont-2, .info-item-cont-3, .info-item-cont-4, .info-item-cont-5, .info-item-cont-6, .info-item-cont-7, .info-item-cont-8 {
	font-family: NunitoSans-Regular;
	font-size: 16px;
	color: #787878;
	font-weight: 700;
}


.slider-container {
	height: 500px;
	background-color: #10c9c3;
	margin-top: -24px;
}


.slick-track {
    display: flex;
}

.slider .slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 80px;
}

.slider .slick-dots li {
	list-style: none;
	margin: 0px 10px;
}

.slider .slick-dots li.slick-active button {
    background-color: #0fb8b3;
	border-color: #0fb8b3;
	width: 15px;
	height: 15px;
}

.slider .slick-dots button {
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: white;
	border-radius: 50%;
	border-color: white;
}

.figure-1 {
	margin-top: 135px;
	margin-left: 250px;
}



.slider-quote-1 {
	height: 100px;
	width: 810px;
	color: #ffffff;
	font-family: Montserrat;
	font-weight: 700;
	font-size: 24px;
	text-align: center;
	line-height: 36px;
}

.figcaption-1 {
	font-family: Montserrat;
	text-transform: uppercase;
    color: #ffffff;
	font-size: 12px;
	font-weight: 900;
	
	transform: translate(390px, 10px);
	
}

.our-clients {
	height: 200px;
	background-color: white;
}

.our-clients-grid-containter {
	height: 75px;
	width: 1100px;
	
	margin: 0 auto;
	transform: translateY(64px);
	display: grid;
	grid-template-columns: 89px 98px 127px 96px 89px;
	column-gap: 150px;
	grid-template-rows: 72px;
}

.our-clients-item-1, .our-clients-item-2, .our-clients-item-3, .our-clients-item-4, .our-clients-item-5 {
   
}

.feedback-container {
	height: 751px;
	background-color: #f5f5f5;
	overflow: auto;
	
}

.feedback-block {
    border: none;
    width: 672px;
	height: 551px;
	margin-top: 85px;
	margin-right: auto;
	margin-left: auto;
	
}

.feedback-headline {
	font-family: Montserrat;
	font-size: 30px;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	width: 244px;
}

.feedback-text {
    text-align: center;
	width: 540px;
	font-family: NunitoSans;
	font-size: 16px;
	line-height: 24px;
	margin-left: auto;
	margin-right: auto;
    font-weight: 600;
}

.footer {
	height: 284px;
	background-color: #141414;
	border: 1px solid black;
}

.form-name, .form-email, .form-title {
	width: 300px;
	height: 48px;
	color: #787878;
	font-family: NunitoSans;
	font-size: 16px;
	padding-left: 20px;
	background-color: white;
	border: none;
	margin-top: 17px;
}

.form-email {
	display: inline-block;
	margin-left: 20px;
}

.form-title {
    width: calc(100% - 20px);
	margin-top: 30px;
}

.form-comment {
	width: calc(100% - 20px);
	height: 160px;
	margin-top: 30px;
	color: #787878;
	font-family: NunitoSans;
	font-size: 16px;
	line-height: 24px;
	padding-left: 20px;
	padding-top: 10px;
	background-color: white;
	border: none;
	resize: none;
}

.form-button {
	width: 180px;
	height: 54px; 
	margin-top: 30px;
	background-color: #10c9c3;
	color: white;
	margin-left: 245px;
	border: none;
}

.footer-container {
	width: 1140px;
	height: 90px;
	
	margin-left: 96px;
	margin-top: 96px;
	display: grid;
	grid-template-columns: 464px 295px 303px 73px;
}


.footer-logo-headline {
	display: inline-block;
	width: 160px;
	height: 20px;
    color: white;
	font-family: Montserrat;
	font-size: 18px;
	margin-top: 0;
}

.footer-logo-text {
	font-family: NunitoSans;
	font-size: 15px;
	line-height: 24px;
    color: #bcbcbc;
	margin-top: 0;
	margin-bottom: 0;
	width: 225px;
}

.footer-email {
	font-family: NunitoSans;
	font-size: 15px;
	line-height: 24px;
	color: #bcbcbc;
	width: 154px;
}

.footer-menu {
	margin-top: 0;
	margin-left: 0;
	font-family: NunitoSans;
	font-size: 18px;
}

.footer-menu-1 {
	list-style: none;
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0;
	padding-left: 0;
	width: 130px;
	display: inline-block;
}

.footer-menu-1 li a, .footer-menu-2 li a {
	color: #bcbcbc;
	text-decoration: none;
	margin-bottom: 5px;
}

.footer-menu-1 li a:hover, .footer-menu-2 li a:hover {
    text-decoration: underline;
}

.footer-menu-1:last-child a {
	margin-bottom: 0;
}

.footer-menu-2 {
	width: 164px;
	display: inline-block;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;
}

.footer-social-1 {
	list-style: none;
	font-family: NunitoSans;
	font-size: 18px;
	margin-top: 0;
	margin-left: 0;
	padding-left: 0;
}

.footer-social-1 li a {
    color: #bcbcbc;
	text-decoration: none;
}

.footer-social-1 li a:hover {
	text-decoration: underline;
}